<div class="p-6 bg-gray-100 min-h-screen">
  <h1 class="text-3xl font-bold text-gray-800 mb-6">Donation Management</h1>

  <!-- Add/Update Form -->
  <div class="w-full bg-white p-8 shadow rounded-lg mb-8">
    <h2 class="text-2xl font-semibold text-gray-700 mb-4">
      {{ isEditMode ? "Update Donation" : "Add Donation" }}
    </h2>
    <form [formGroup]="donationForm" class="grid grid-cols-2 gap-3">
      <!-- Date -->
      <div>
        <label class="block text-sm font-medium text-gray-700">Date</label>
        <input
          type="date"
          formControlName="date"
          class="mt-1 block w-full border border-gray-300 rounded-lg shadow-sm py-2 px-3 focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
        />
        @if( donationForm.get('date')?.invalid &&
        donationForm.get('date')?.touched){
        <small class="text-red-500"> Date is required </small>
        }
      </div>

      <!-- Donor Name -->
      <div>
        <label class="block text-sm font-medium text-gray-700"
          >Donor Name</label
        >
        <input
          type="text"
          formControlName="name"
          class="mt-1 block w-full border border-gray-300 rounded-lg shadow-sm py-2 px-3 focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
          placeholder="Enter donor name"
          required
        />
        @if( donationForm.get('name')?.invalid &&
        donationForm.get('name')?.touched){
        <small class="text-red-500">
          Donor Name must be at least 3 characters
        </small>
        }
      </div>

      <!-- Donor Phone -->
      <div>
        <label class="block text-sm font-medium text-gray-700"
          >Donor Phone</label
        >
        <input
          type="text"
          formControlName="phone"
          class="mt-1 block w-full border border-gray-300 rounded-lg shadow-sm py-2 px-3 focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
          placeholder="Enter donor phone"
          required
        />
        @if(donationForm.get('phone')?.invalid &&
        donationForm.get('phone')?.touched){
        <small class="text-red-500">
          Enter a valid 11-digit phone number
        </small>
        }
      </div>

      <!-- Amount -->
      <div>
        <label class="block text-sm font-medium text-gray-700">Amount</label>
        <input
          type="number"
          formControlName="amount"
          class="mt-1 block w-full border border-gray-300 rounded-lg shadow-sm py-2 px-3 focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
          placeholder="Enter donation amount"
          required
        />
        @if(donationForm.get('amount')?.invalid &&
        donationForm.get('amount')?.touched){
        <small class="text-red-500"> Amount must be greater than 0 </small>
        }
      </div>

      <!-- Payment Option -->
      <div>
        <label class="block text-sm font-medium text-gray-700"
          >Payment Option</label
        >
        <select
          formControlName="paymentOption"
          class="mt-1 bg-white block w-full border border-gray-300 rounded-lg shadow-sm py-2 px-3 focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
          required
        >
          <option value="">Select Payment Option</option>
          <option value="CASH">Cash</option>
          <option value="CARD">Card</option>
          <option value="MFS">MFS</option>
        </select>
      </div>

      <!-- MFS Provider (shown only if MFS is selected) -->
      @if(donationForm.get('paymentOption')?.value === 'MFS'){
      <div>
        <label class="block text-sm font-medium text-gray-700"
          >MFS Provider</label
        >
        <select
          formControlName="mfsProvider"
          class="mt-1 bg-white block w-full border border-gray-300 rounded-lg shadow-sm py-2 px-3 focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
        >
          <option value="">Select MFS Provider</option>
          <option value="BKASH">Bkash</option>
          <option value="NAGAD">Nagad</option>
          <option value="ROKET">Roket</option>
        </select>
      </div>
      }
    </form>

    <button
      type="submit"
      (click)="handleSubmit()"
      [disabled]="donationForm.invalid"
      class="bg-indigo-600 text-white p-3 mt-3 rounded-lg shadow hover:bg-indigo-700 focus:outline-none"
    >
      {{ isEditMode ? "Update Donation" : "Add Donation" }}
    </button>
  </div>

  <!-- Donations List -->
  <div>
    @if(totalItems > 0){
    <h2 class="text-2xl font-semibold text-gray-700 mb-4">Donations List</h2>

    <div>
      <table
        class="min-w-full table-auto bg-white border-collapse shadow rounded-lg"
      >
        <thead class="bg-gray-100">
          <tr>
            <th class="py-2 px-4 text-left text-sm font-medium text-gray-700">
              Donor
            </th>
            <th class="py-2 px-4 text-left text-sm font-medium text-gray-700">
              Amount
            </th>
            <th class="py-2 px-4 text-left text-sm font-medium text-gray-700">
              Date
            </th>
            <th class="py-2 px-4 text-center text-sm font-medium text-gray-700">
              Actions
            </th>
          </tr>
        </thead>
        <tbody>
          @for(donation of donations; track donation._id){
          <tr class="border-b border-gray-200">
            <td class="py-3 px-4 text-sm text-gray-800">
              {{ donation.name }} - {{ donation.phone }}
            </td>
            <td class="py-3 px-4 text-sm text-gray-600">
              {{ donation.amount }} BDT
            </td>
            <td class="py-3 px-4 text-sm text-gray-600">
              {{ formatDate(donation.date) }}
            </td>
            <td class="py-3 px-4 text-center">
              <button
                class="bg-blue-500 text-white px-4 py-2 rounded shadow mr-2"
                (click)="editDonation(donation)"
              >
                Edit
              </button>
              <button
                class="bg-red-500 text-white px-4 py-2 rounded shadow"
                (click)="deleteDonation(donation._id)"
              >
                Delete
              </button>
            </td>
          </tr>
          }
        </tbody>
      </table>
      <mat-paginator
        [length]="totalItems"
        [pageSize]="pageSize"
        [pageSizeOptions]="pageSizeOptions"
        [pageIndex]="currentPage"
        aria-label="Select page"
        (page)="onPageChange($event)"
      >
      </mat-paginator>
    </div>
    }

    <!-- If no donations found -->
    @if(totalItems == 0){
    <div>
      <p class="text-gray-600">No donations found.</p>
    </div>
    }
  </div>
</div>
